body {
  margin: 0;
  padding: 0;
  width: 1920px;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif; }

.header-wrap .landing-logo, .footer .footer-wrap .footer_logo {
  display: flex;
  height: 45px;
  font-family: "Hind", sans-serif;
  align-items: stretch; }
  .header-wrap .landing-logo p, .footer .footer-wrap .footer_logo p {
    margin-top: 5px;
    padding: 0 0 0 14px;
    line-height: 20px;
    font-weight: bold;
    font-size: 24px; }
    .header-wrap .landing-logo p span, .footer .footer-wrap .footer_logo p span {
      display: block;
      font-weight: normal;
      font-size: 10px;
      text-align: center; }

.header-wrap {
  background: url("../img/m-h-day.jpg") center/100%;
  color: #2e2e31;
  height: 720px;
  padding: 20px 192px;
  box-sizing: border-box;
  border-bottom-right-radius: 790px 280px; }
  .header-wrap .header_heading {
    position: relative;
    z-index: 1;
    width: 600px;
    margin-top: 70px;
    margin-bottom: 34px;
    font-size: 72px;
    font-weight: bold;
    line-height: 74px; }
    .header-wrap .header_heading::after {
      content: "";
      position: absolute;
      background-color: #509dea;
      height: 50px;
      width: 300px;
      top: 95px;
      left: 0;
      z-index: -1; }
  .header-wrap .header_text {
    font-family: "Hind", sans-serif;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line; }
  .header-wrap .header_button {
    margin-top: 45px;
    background-color: #639415;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    padding: 14px 44px;
    font-size: 17px;
    border-radius: 3px; }
  .header-wrap .login {
    font-size: 20px;
    margin-left: 150px;
    margin-top: 45px;
    color: whitesmoke; }

.section {
  text-align: center; }
  .section .section_text {
    font-size: 42px;
    font-weight: 600;
    color: #1e202d;
    margin-top: 37px;
    margin-bottom: 36px;
    position: relative; }
    .section .section_text::after {
      content: "";
      position: absolute;
      background-color: #509dea;
      height: 50px;
      width: 190px;
      top: 5px;
      left: 970px;
      z-index: -1; }
  .section .section_card_wrap {
    width: 1120px;
    margin: 0 auto;
    padding: 0; }
    .section .section_card_wrap .section_card {
      width: 100%;
      height: 325px;
      margin: 0 0 25px 0;
      background-color: #1e202d;
      border-radius: 8px; }
      .section .section_card_wrap .section_card .section_card_img {
        margin: 20px;
        width: 430px;
        border-radius: 8px;
        float: left; }
      .section .section_card_wrap .section_card .section_card_right_container {
        padding-top: 10px;
        margin-left: 525px;
        width: 480px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          color: white;
          text-align: center;
          font-weight: 600;
          font-size: 24px;
          margin-top: 60px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Hind", sans-serif;
          margin: 38px 0 18px 15px;
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
          color: #c0c3ce;
          word-spacing: 2px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          color: whitesmoke;
          font-size: 16px; }
  .section .section_banner {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 150px auto 0 auto;
    background: linear-gradient(to right, #649515, #2B56DC);
    width: 1200px;
    height: 145px;
    border-radius: 5px;
    z-index: 2; }
    .section .section_banner .section_banner_text_wrap {
      text-align: left;
      margin-top: 0px; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #2e2e31;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 25px;
        position: relative; }
        .section .section_banner .section_banner_text_wrap .section_banner_heading::after {
          content: "";
          position: absolute;
          background-color: #509dea;
          height: 30px;
          width: 70px;
          top: 5px;
          left: 125px;
          z-index: -1; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        font-family: "Hind", sans-serif;
        color: #c0c3ce; }
    .section .section_banner .section_banner_button {
      background-color: #639415;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      color: whitesmoke;
      border: none;
      padding: 14px 44px;
      font-size: 17px;
      border-radius: 3px;
      margin: auto 0; }

.footer {
  background-color: #1e202d;
  color: #c0c3ce;
  margin-top: -70px;
  font-family: "Hind", sans-serif; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding-top: 55px; }
    .footer .footer-wrap .footer_text {
      font-family: "Hind", sans-serif;
      width: 300px;
      margin: 0 60px;
      text-align: left;
      font-size: 14px;
      line-height: 20px; }
    .footer .footer-wrap .footer-cr {
      text-align: center; }
